$main-dark: #121212;
$card-dark: #292929;
$input-dark: #bababa;
$main-light: #3164ff;
$card-light: #fff;
$input-light: $card-light;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s linear;
}
::selection {
    background: yellow;
    color: #3164ff;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: $main-dark;
    .container{
        position: relative;
        display: flex;
        flex-direction: column;
        background: $card-dark;
        border-radius: 10px;
        padding: 40px;
        .darkmode-icon {
            position: absolute;
            top: 10px;
            right: 15px;
            color: rgb(255, 174, 0);
            cursor: pointer;
          }
        .top{
            display: flex;
            justify-content: center;
            align-items: center;
            input{
                border: none;
                outline: none;
                border-bottom: 1px solid $main-light;
                background: $card-dark;
                color: $card-light;
                padding-bottom: 5px;
                text-transform: uppercase;
            }
            button{
                border: none;
                outline: none;
                background: $main-light;
                color: $card-light;
                padding: 10px;
                border-radius: 30px;
                margin-left: 30px;
                cursor: pointer;
            }
        }
        .bottom{
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            color: $card-light;
            .country{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .pic{
                    display: flex;
                    img{
                        // width: 150px;
                        height: 150px;
                        padding: 20px;
                    }
                    img:nth-child(2){
                        // width: ;
                        // height: 176px;
                    }
                }
                p{
                    margin-top: 20px;
                }
            }
            .details{
                margin-top: 20px;
                text-align: left;
                h5{
                    margin: 10px 20px;
                    .material-symbols-outlined{
                        color: $main-light;
                    }
                    span{
                        color: $input-dark;
                        font-size: 15px;
                        font-weight: normal;
                    }
                    &:nth-child(5){
                        // text-wrap: wrap;
                        width: 400px;
                        word-wrap: break-word;
                    }
                }
                
            }
        }
        .error{
            display: none;
        }
    }
    &.light-mode {
        background: $main-light;
    }
    .container.light-mode {
        background: $card-light;
        color: #000;
        .darkmode-icon {
            transform: rotate(257deg);
            color: #121212;
        }
        input {
            background: $input-light;
            border: 1px solid #c2c1c1;
            color: #000;
            outline: none;
            border: none;
            border-bottom: 1px solid $main-light;
        }
        .bottom{
            color: $main-dark;
            .details{
                .material-symbols-outlined{
                    color: $main-light;
                }
                span{
                    color: $card-dark;
                }
            }
        }
    }
}
@media screen and (max-width: 541px) {
    body {
    //   h1 {
    //     font-size: 25px;
    //   }
      .container {
        padding: 20px;
        .darkmode-icon{
            top: 5px;
            right: 3px;
            font-size: 20px;
        }
        .top{
            button{
                padding: 5px;
            }
        }
        input{
            width: 100px;
        }
        .bottom{
            .country{
                .pic{
                    img{
                        height: 100px;
                    }
                }
            }
            .details{
                h5{
                    font-size: 13px;
                }
                h5:nth-child(5){
                    width: 200px;
                }
            }
        }
      }
    }
  }